<h1>Create a new Pet</h1>

<form method = "POST" action = "/pets">
  Pet Name: <input type = "text" name = "owners[pet][name]" id = "pet_name">

  Select an Existing Owner: <input type = "radio" name = "owner_name"

  <input type = "submit" value = "Create Pet">
</form>
